body { 
  background-color: aqua;
  color:gold
}
.App {
  text-align: center;
}

.taskBg { background-color: white;
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
  color: black;

}

.taskBg div {
  display: flex;
  align-items: center;
}
.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
  flex: 1;

}
.taskNumber {
  background-color: aqua;
  color: gold;
  border: 2px solid gold;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 17px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.iconWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}